
:root {
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --black: #000;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --primary: #43757d;
  --secondary: #354b73;
  --success: #39e334;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
  --primary-rgb: 13, 110, 253;
  --secondary-rgb: 108, 117, 125;
  --success-rgb: 25, 135, 84;
  --info-rgb: 13, 202, 240;
  --warning-rgb: 255, 193, 7;
  --danger-rgb: 220, 53, 69;
  --light-rgb: 248, 249, 250;
  --dark-rgb: 33, 37, 41;
  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;
  --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --body-font-family: var(--font-sans-serif);
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: var(--white);
  --body-bg: #070b12;
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--primary);
  --border-color-translucent: rgba(0, 0, 0, 0.175);
  --border-radius: 0.375rem;
  --border-radius-sm: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 1rem;
  --border-radius-2xl: 2rem;
  --border-radius-pill: 50rem;
  --heading-color: ;
  --link-color: #ffc107;
  --link-hover-color: #ffc107;
  --code-color: #d63384;
  --highlight-bg: #fff3cd;
  --emphasis-light-color: #32ea3d;
  --emphasis-dark-color: #15c8ff; /* #ffc107; */
  --emphasis-warn-color: #ffc107;
  --emphasis-sub-color: #02e3ee;
  --area-bg: #192129;
  --area-border-radius: 0.375rem;
  --area-padding: 0.5rem;
  --column-header-color: var(--gray-600);
  --page-padding: 1rem;
  --output-padding: 0 0.4rem;
  --output-bg-color: var(--gray-500);
  --output-color: var(--black);
  --output-border-radius: 0.3rem;
  --collapse-top-bg: var(--gray-800);
  --collapse-bottom-bg: var(--black);
  --collapse-border-color: var(--white);
  --disabled-opacity: 0.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overscroll-behavior: contain;
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  background-color: var(--body-bg);
  color: var(--body-color);
  z-index: 0;
  overscroll-behavior-y: contain;
}

input,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: var(--border-radius);
  background-color: var(--gray-400);
  border: none;
}

input,
textarea {
  padding: 0 0.3rem;
}

input[type="checkbox"],
input[type="radio"] {
  border-radius: 0.25rem;
  background-color: var(--border-color);
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-style: var(--border-style);
  width: 1rem;
  height: 1rem;
  margin: 0.35rem 0.3rem 0 0.5rem;
  vertical-align: top;
  background-image: var(--bs-form-check-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

input:checked {
  background-color: var(--gray-900);
  border-color: var(--emphasis-light-color);
}

input:checked[type="checkbox"] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%2332ea3d' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

input[type="radio"] {
  border-radius: 50%;
}

input:checked[type="radio"] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%2332ea3d'/%3e%3c/svg%3e");
}


label :is(input[type="checkbox"], input[type="radio"]) ~ * {
  cursor: pointer;
}


a {
  color: var(--link-color);
}


@media only screen and (max-width: 399px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 374px) {
  html {
    font-size: 14px;
  }
}



/* Just for testing on large screens. Mobile Chrome seems to report a too large innerWidth/viewport width on 100% zoom level */
@media (min-width: 515px) {
  html {
    background-color: #677b8f;
  }
  
  /* Form Chrome and other webkit browsers */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.7);
    border-radius: 20px;
    border: transparent;
  }

  body {
    position: relative;
    top: 10px;
    max-width: 440px;
    height: 100vh;
    max-height: 920px;
    border: #fff solid 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 3px #555;
    scrollbar-width: thin;  /* currently works only in Firefox */
  }
}


hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

h6, h5, h4, h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--heading-color);
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}


table {
  border-collapse: collapse;
}

th {
  text-align: center;
}


section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100%;
}

.page-container {
  width: 100%;
  height: 100%;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
}

.page {
  min-width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding: var(--page-padding);
  flex: auto;
  overflow-y: auto;
  scroll-snap-type: none;
}

label, .label {
  font-weight: 500;
}

button, .btn {
  --btn-padding-x: 0.75rem;
  --btn-padding-y: 0.375rem;
  --btn-font-size: 1rem;
  --btn-font-weight: 400;
  --btn-line-height: 1.5;
  --btn-color: var(--body-color);
  --btn-bg: var(--secondary); /* #202e48; */
  --btn-border-width: 1px;
  --btn-border-color: var(--secondary); /* #4a5c7e; */
  --btn-border-radius: 0.375rem;
  --btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  color: var(--btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--btn-border-width) solid var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  background-color: var(--btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  white-space: nowrap;
}

:is(button, .btn).icon {
  --btn-padding-x: var(--btn-padding-y);
}

:is(button.icon, btn.icon) > span {
  width: 1.5rem;
  text-align: center;
}

button:disabled, .btn.disabled,
input:disabled,
label input:disabled ~ * {
  opacity: var(--disabled-opacity);
  cursor: default;
}

:is(button, .btn).obfuscated {
  opacity: var(--disabled-opacity);
}

:is(button.icon.sheet, .btn.icon.sheet) {
  --btn-padding-y: 0.313rem;
}

:is(button.icon.sheet, .btn.icon.sheet) span:nth-child(1) {
  font-size: 1.6rem;
  margin: -0.1rem -0.1rem 0 -0.1rem;
  vertical-align: top;
}

:is(button.icon.sheet, .btn.icon.sheet) span:nth-child(2) {
  vertical-align: top;
  font-size: 0.7rem;
  margin: 0.2rem -0.1rem 0 -1.2rem;
  color: var(--btn-bg);
}


fieldset {
  padding: 0;
  margin: 0 0 1rem 0;
  border: none;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.3rem 1rem;
  align-items: center;
}

dl dd:not(:last-child) {
  margin-bottom: 0.5rem;
}

dt {
  padding: var(--area-padding) var(--area-padding) 0 var(--area-padding);
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius) var(--area-border-radius) 0 0;
  color: var(--emphasis-dark-color);
}

dd {
  font-size: 0.8rem;
  color: var(--gray-300);
  padding: 0 var(--area-padding) var(--area-padding) calc(var(--area-padding) * 4);
  background-color: var(--area-bg);
  border-radius: 0 0 var(--area-border-radius) var(--area-border-radius);
  margin: 0;
}

ul {
  padding-left: 1.5rem;
}

output {
  padding: var(--output-padding);
  background-color: var(--output-bg-color);
  color: var(--output-color);
  border-radius: var(--output-border-radius);
  font-weight: 600;
  cursor: pointer;
}

.invisible {
  /* visibility: hidden;  -- This hangs in mobile Chrome, opacity 0 is faster */
  opacity: 0;
  width: 0;
  height: 0;
  cursor: inherit;
}

.clickable {
  cursor: pointer;
}

.modable {
  border-radius: var(--output-border-radius);
  padding: 0 0.3rem;
  outline: 1px solid var(--gray-500);
  outline-offset: -1px;
  cursor: pointer;
}

#notifications {
  z-index: 500;
  position: absolute;
  top: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  overflow-x: hidden;
}

#notifications > div {
  border-radius: 0.5rem;
  background-color: var(--notification-bg);
  color: #000;
  padding: 0.6rem;
  width: 95%;
  max-width: 25rem;
  cursor: pointer;
}

#notifications div.info {
  --notification-bg: rgb(184, 227, 240);
}

#notifications div.error {
  --notification-bg: rgb(249, 205, 205);
}

#notifications div.warning {
  --notification-bg: rgb(240, 239, 186);
}

#notifications div span:nth-child(1) {
  margin-right: 0.5rem;
}


#modal-backdrop {
  z-index: 1000;
  background-color: #000;
  opacity: 0.7;
  transition: opacity .15s linear;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#modal-dialog {
  z-index: 1001;
  width: max-content;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  position: absolute;   /* was fixed */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  overscroll-behavior: contain;
  opacity: 1;
  transition: opacity .15s linear;
  background-color: var(--gray-800);
  border: 1px solid #000;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
}

#modal-dialog .header {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--gray-700);
}

#modal-dialog .header .row {
  display: flex;
  flex-wrap: nowrap;
}

#modal-dialog .header .title {
  flex: 1 0 auto;
  font-size: 1.25rem;
}

#modal-dialog .header .close {
  flex: 0 0 auto;
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: right;
  align-self: flex-start;
  font-size: 1.25rem;
  width: 2rem;
}

#modal-dialog .content {
  overflow-y: auto;
  padding: 0.5rem 1rem 1rem 1rem;
}


#modal-dialog.confirmation {
  min-width: 16rem;
}

#modal-dialog.confirmation .buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

#modal-dialog.confirmation button.confirm {
  flex: 0 1 max-content;
}

#modal-dialog.confirmation button.cancel {
  flex: 0 1 max-content;
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
}


.collapsable {
  grid-column: 1 / -1;
  background-image: linear-gradient(var(--collapse-top-bg), var(--collapse-bottom-bg));
  padding: 0.5rem;
  margin: 0 0 1rem 0.9rem;
  border-radius: 0 0 0 0.5rem;
  border-left: var(--collapse-border-color) solid 2px;
  border-bottom: var(--collapse-border-color) solid 2px;
}


.navbar-s {
  display: flex;
  column-gap: 0.5rem;
  text-align: center;
  background-color: var(--gray-800);
  margin: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 1rem;
}

.navbar-s button {
  background-color: transparent;
  border-color: transparent;
}

.navbar-s menu {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  font-weight: 600;
}

.navbar-s menu::after {
  content: "\f107";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  cursor: pointer;
}

:is(.navbar-s, .modal-menu) li {
  flex: 1 0 auto;
  cursor: pointer;
}

.navbar-s li:not(.selected) {
  display: none;
}

#modal-dialog.modal-menu {
  width: 80%;
  max-width: 20rem;
}

.modal-menu .header {
  display: none !important;
}

.modal-menu li {
  padding: 0.5rem;
  background-color: var(--gray-900);
  border-radius: var(--area-border-radius);
}

.modal-menu li.selected {
  border: 2px solid var(--primary);
  background-color: var(--body-bg);
}

.modal-menu li:hover {
  background-color: var(--secondary);
}

.modal-menu menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0 0 0;
  row-gap: 1rem;
  font-weight: 600;
}


#overview .header {
  display: flex;
  font-size: 1.6rem;
  padding: 0.2rem 0.6rem 0.5rem 0.6rem;
  column-gap: 1rem;
}

#overview .header > div {
  cursor: pointer;
}

#overview .header .cancel {
  margin-right: auto;
}

#overview .header .sync.disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

#overview .header .sync.busy {
  cursor: wait;
}

#overview .content {
  overflow-x: hidden;
  overflow-y: auto;
}

#overview .content .floating {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  position: sticky;
  bottom: 1rem;
  margin: 1rem auto 0 auto;
  width: min-content;
}

#overview .content .floating button {
  border-radius: 10rem;
  background-color: var(--primary);
  border-color: var(--primary);
  box-shadow: #333 2px 2px 15px 0px;
}

#overview .content .characters {
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#overview .character {
  display: grid;
  grid-template-columns: auto 2rem;
  border-radius: 0.5rem;
  background-color: #bd0000;
  user-select: none;
}

#overview .character .conflict {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-weight: 600;
  cursor: pointer;
  display: none;
}

#overview .character.conflicted .conflict {
  display: block;
}

#overview .character .view-conflict {
  justify-self: center;
  align-self: center;
}

#overview .character.conflicted .conflict {
  display: block;
}

#overview .character .view-conflict > span {
  cursor: pointer;
  margin: auto;
}


#overview .character .details {
  background-color: var(--secondary);
  padding: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.3rem;
  cursor: pointer;
}

#overview .character .name {
  flex: 1 1 100%;
  font-size: 1.1rem;
  font-weight: 700;
}

#overview .character .type {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.3rem;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  color: var(--emphasis-dark-color);
}

#overview .character .type > span:nth-child(n+3)::before {
  content: '|';
  color: var(--gray-500);
  padding-right: 0.3rem;
}

#overview .character .synced {
  flex: 1 1 auto;
  font-size: 0.7rem;
  color: var(--success);
}

#overview .character .synced .time {
  color: var(--gray-500);
  padding-left: 0.3rem;
}

#overview .character .synced .outdated {
  color: var(--warning);
}

#overview .character .synced .never {
  color: var(--danger);
}

#overview .character .id {
  font-size: 0.5rem;
  color: var(--gray-500);
  align-self: flex-end;
}

#overview .character .buttons {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-800);
  padding: 0.3rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

#overview .character .buttons > span {
  cursor: pointer;
  margin: auto;
}

#modal-dialog .duplicate-import-template > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 0.5rem;
}

#modal-dialog .duplicate-import-template button.copy {
  border-color: var(--primary);
  background-color: var(--primary);
}

#modal-dialog .duplicate-import-template button.replace {
  border-color: var(--danger);
  background-color: var(--danger);
  margin-left: auto;
}

#modal-dialog.delete-character button.confirm {
  background-color: var(--danger);
  border-color: var(--danger);
}

#modal-dialog .update-conflict-template .actions {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-900);
  padding: 0.5rem;
  border-radius: 0.3rem;
}

#modal-dialog .update-conflict-template .actions label {
  display: flex;
  margin-bottom: 0.5rem;
}

#modal-dialog .update-conflict-template .actions input {
  margin-right: 1rem;
}

#modal-dialog .update-conflict-template button.resolve {
  border-color: var(--danger);
  background-color: var(--danger);
  margin: auto;
}

#modal-dialog :is(.remote-delete-conflict-template, .local-delete-conflict-template) .actions {
  display: flex;
  justify-content: center;
}

#modal-dialog :is(.remote-delete-conflict-template, .local-delete-conflict-template) button.keep {
  border-color: var(--secondary);
  background-color: var(--secondary);
}

#modal-dialog :is(.remote-delete-conflict-template, .local-delete-conflict-template) button.delete {
  border-color: var(--danger);
  background-color: var(--danger);
  margin-left: auto;
}



.value-field {
  display: block;
  width: min-content;
}

.value-field > div {
  display: flex;
}

.value-field button.down {
  padding: 0 0.1rem;
  border-radius: var(--btn-border-radius) 0 0 var(--btn-border-radius);
}

.value-field button.up {
  padding: 0 0.1rem;
  border-radius: 0 var(--btn-border-radius) var(--btn-border-radius) 0;
}

.value-field input.value {
  width: 5ch;
  border-radius: 0;
  text-align: center;
  -moz-appearance: textfield;
  appearance: textfield;
}

.value-field input.value::-webkit-outer-spin-button,
.value-field input.value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.value-field input.slider {
  width: 100%;
  margin-top: 3px;
}



#creation .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#creation .header h5 {
  margin: 0;
}

#creation .header button.cancel {
  border-radius: 0 0 var(--btn-border-radius) 0;
}

#creation .header button.finish {
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
  border-radius: 0 0 0 var(--btn-border-radius);
}

#creation .header button.finish > span:nth-last-child(1) {
  color: #bb0e0e;
  margin-left: -1.5rem;
  font-size: 1.2rem;
}

#creation h4 {
  text-align: center;
}


#creation-attributes {
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
}


#creation-attribute-points .label {
  padding-right: 1rem;
}

#creation-attribute-points .points {
  font-weight: 600;
  color: var(--emphasis-light-color);
}

#creation-attributes .attributes {
  display: grid;
  grid-template-columns: 3fr auto 1fr auto 1fr 2fr;
  gap: 0.3rem 0.5rem;
  white-space: nowrap;
}

#creation-attributes .column-headers {
  color: var(--column-header-color);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
}

#creation-attributes .column-header-separator {
  border-top: 1px solid var(--column-header-color);
  grid-column: 1 / 7;
  width: 100%;
  padding-bottom: 0.2rem;
}

#creation-attributes .attributes > div {
  display: contents;
}

#creation-attributes .attributes .label {
  margin-block: auto;
}

#creation-attributes .attributes .value, 
#creation-attributes .attributes .step,
#creation-attributes .attributes .dice {
  margin: auto;
}

#creation-attributes .column-headers span {
  margin: auto;
}

#creation-attributes button.minus,
#creation-attributes button.plus {
  --btn-padding-y: 0.2rem;
  --btn-font-size: 1.3rem;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 2.7rem;
  align-items: center;
}

#creation-attributes button .cost {
  font-size: 0.7rem;
  font-weight: 700;
  margin-top: -0.1rem;
  margin-bottom: -0.2rem;
}

#creation-attributes button.minus .cost {
  color: #15c831;
}

#creation-attributes button.plus .cost {
  color: #df2a2a;
}

#creation-calculated-values {
  display: grid;
  grid-template-columns: auto auto;
  align-items: flex-start;
  gap: 0.5rem 1rem;
}

#creation-calculated-values h4 {
  grid-column: 1 / -1;
}

#creation-calculated-values .label {
  white-space: nowrap;
  color: var(--emphasis-dark-color);
}

#creation-calculated-values .value {
  text-align: right;
}

#creation-calculated-values > div {
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
}

#creation-calculated-values .defenses,
#creation-calculated-values .armor,
#creation-calculated-values .karma {
  display: inline-grid;
  grid-template-columns: auto auto;
  column-gap: 0.2rem;
}

#creation-calculated-values .encumberance {
  display: inline-grid;
  grid-template-columns: 1fr min-content 1fr min-content;
  column-gap: 0.3rem;
  grid-column: span 2;
}

#creation-calculated-values .encumberance :nth-child(3) {
  margin-left: auto;
}

#creation-calculated-values .initiative {
  display: inline-grid;
  grid-template-columns: auto min-content min-content min-content;
  column-gap: 0.4rem;
}

#creation-calculated-values .health {
  display: inline-grid;
  grid-template-columns: max-content min-content;
  column-gap: 0.2rem;
  grid-column: span 2;
}

#creation-calculated-values .health > div {
  grid-column: span 2;
}

#creation-calculated-values .health .recovery .label {
  margin-right: 1rem;
}


#creation-calculated-values .health .step {
  margin-left: 1.5rem;
}

#creation-calculated-values .movement {
  display: inline-grid;
  grid-template-columns: max-content minmax(max-content, min-content);
  column-gap: 1rem;
  grid-column: span 2;
}

label[for=creation-discipline] {
  color: var(--emphasis-dark-color);
}

:is(#creation-talents, #creation-skills) :is(.core, .options, .versatility, .artisan, .knowledge, .general) {
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
}

:is(#creation-talent-points, #creation-general-skill-points) {
  padding: 0.3rem 0 0.5rem 0;
  background-color: var(--body-bg);
  position: sticky;
  top: calc(var(--page-padding) * -1);
  z-index: 1;
}

:is(#creation-talent-points, #creation-general-skill-points, #creation-artisan-skill-points, #creation-knowledge-skill-points, #creation-spell-points) .label {
  padding-right: 1rem;
}

:is(#creation-talent-points, #creation-general-skill-points, #creation-artisan-skill-points, #creation-knowledge-skill-points, #creation-spell-points) .points {
  font-weight: 600;
  color: var(--emphasis-light-color);
}

:is(#creation-artisan-skill-points, #creation-knowledge-skill-points) {
  margin: -0.5rem 0 0.5rem 0;
}

:is(#creation-talents, #creation-skills) .heading {
  display: flex;
  margin-bottom: 0.5rem;
}

:is(#creation-talents, #creation-skills) .heading h5 {
  flex: 1 0 auto;
}

:is(#creation-talents, #creation-skills, #creation-spells) .heading button.add {
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
}

#creation-talents .table {
  display: grid;
  grid-template-columns: 2fr 1fr minmax(2.7rem, 1fr) minmax(auto, 4rem) minmax(auto, 1.4rem) minmax(auto, 4rem);
  grid-template-rows: 0.8rem 0.6rem 1rem;
  grid-gap: 0.1rem 0.2rem;
  justify-items: center;
  align-items: center;
}

:is(#creation-talents, #creation-skills) .column-headers {
  color: var(--column-header-color);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
}

:is(#creation-talents, #creation-skills) .column-header-separator {
  border-top: 1px solid var(--column-header-color);
  grid-column: 1 / -1;
  width: 100%;
  padding-bottom: 0.2rem;
}

:is(#creation-talents, #creation-skills) .table > div {
  display: contents;
}

#creation-talents .table .name {
  grid-column: span 3;
  justify-self: flex-start;
}

#creation-talents .table-body .name {
  color: var(--emphasis-dark-color);
  cursor: pointer;
}

#creation-talents .table-body :is(.attribute, .step, .dice, .action, .karma, .strain) {
  font-size: 0.8rem;
}

#creation-talents .table-body .strain ~ :is(.name, .minus, .rank, .plus) {
  margin-top: 1rem;
}

#creation-skills .table {
  display: grid;
  grid-template-columns: 2fr 1fr minmax(2.7rem, 1fr) minmax(auto, 4rem) minmax(auto, 1.4rem) minmax(auto, 4rem);
  grid-template-rows: 1rem 0.4rem 1rem;
  grid-gap: 0.1rem 0.2rem;
  justify-items: center;
  align-items: center;
}


#creation-skills .table .name {
  grid-column: span 3;
  justify-self: flex-start;
}

#creation-skills .table-body .name {
  color: var(--emphasis-dark-color);
  cursor: pointer;
}

#creation-skills .table .action {
  grid-column: span 2;
  justify-self: flex-end;
}

#creation-skills .table-body :is(.attribute, .step, .dice, .action, .strain) {
  font-size: 0.8rem;
}

#creation-skills .table-body .strain ~ :is(.name, .minus, .rank, .plus) {
  margin-top: 1rem;
}


#creation-spells .spells {
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
}

#creation-spells .heading {
  display: flex;
  margin-bottom: 1rem;
}

#creation-spell-points {
  flex: 1 0 auto;
}

#creation-spells .table {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 0.5rem 0.3rem;
  grid-gap: 0.5rem 0.3rem;
  justify-items: center;
  align-items: center;
}

#creation-spells .column-headers {
  color: var(--column-header-color);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
}

#creation-spells .column-header-separator {
  border-top: 1px solid var(--column-header-color);
  grid-column: 1 / -1;
  width: 100%;
  padding-bottom: 0.2rem;
}

#creation-spells .table > div {
  display: contents;
}

#creation-spells .table .name {
  justify-self: flex-start;
}

#creation-spells .table-body .name {
  cursor: pointer;
  color: var(--emphasis-dark-color);
}




#view-character .header {
  display: flex;
  justify-content: space-between;
}

#view-character .header button.cancel {
  border-radius: 0 0 var(--btn-border-radius) 0;
}

#view-character .header button.edit {
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
  border-radius: 0 0 0 var(--btn-border-radius);
}

#view-character .header .name {
  text-align: center;
  align-self: center;
  font-weight: 600;
  margin: 0 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#view-character .header .read-only {
  display: none;
}

#view-character.readonly .header .read-only {
  display: inline;
  margin-right: 0.5rem;
}

#view-character.readonly output {
  cursor: default;
}

#view-character .column-headers {
  color: var(--column-header-color);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  display: contents;
}

#view-character .column-header-separator {
  border-top: 1px solid var(--column-header-color);
  grid-column: 1 / -1;
  width: 100%;
  padding-bottom: 0.2rem;
}

#view-character .text {
  font-weight: 600;
}


#view-character .basics .who {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
}

#view-character .who [data-type=id] {
  font-size: 0.7rem;
  color: var(--gray-600);
}

#view-character .who span:nth-child(6) {
  margin-bottom: 1rem;
}

#view-character .who span:nth-child(7) {
  margin-top: 1.4rem;
}

#view-character .who [data-type=disciplines] {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
}

#view-character .who [data-type=disciplines] > div {
  display: contents;
}

#view-character .who [data-type=disciplines] :nth-child(2n) {
  justify-self: center;
}

#view-character .basics .karma {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-items: center;
  column-gap: 0.5rem;
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
}

#view-character .basics .karma .label {
  justify-self: flex-start;
  color: var(--emphasis-dark-color);
}

#view-character .encumberance {
  display: grid;
  grid-template-columns: auto max-content min-content;
  column-gap: 0.3rem;
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
  white-space: nowrap;
}

#view-character .movement {
  display: grid;
  grid-template-columns: auto minmax(max-content, min-content) min-content;
  column-gap: 0.3rem;
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
}

#view-character :is(.encumberance, .movement) .value {
  justify-self: flex-end;
}

#view-character :is(.encumberance, .movement) .heading {
  color: var(--column-header-color);
}


#view-character .basics .step-table {
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
}

#view-character .basics .step-table > .label {
  text-align: center;
  margin-bottom: 0.3rem;
}

#view-character .basics .step-table .table-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 32rem;
  gap: 0.1rem 2rem;
}

#view-character .basics .step-table .row {
  display: grid;
  grid-template-columns: 3ch auto;
  column-gap: 1rem;
  align-items: center;
}

#view-character .basics .step-table .row > span:first-child {
  justify-self: flex-end;
  color: var(--emphasis-sub-color);
}

#view-character .legend {
  margin-top: 2rem;
  font-size: 0.8rem;
  text-align: right;
}

#view-character .legend span:nth-child(2n) {
  margin-right: 1rem;
}

#view-character .characteristics .icon {
  font-size: 0.8rem;
}

#view-character .characteristics .attributes {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0.1rem 0.5rem;
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
  justify-items: center;
  align-items: center;
}

#view-character .characteristics .attributes > div {
  display: contents;
}

#view-character .characteristics .attributes .label {
  justify-self: flex-start;
}

#view-character .characteristics :is(.initiative, .defenses, .armor, .conditions, .health) .label {
  color: var(--emphasis-dark-color);
}

#view-character .characteristics .initiative {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-items: center;
  align-items: center;
  column-gap: 0.3rem;
  row-gap: 0.1rem;
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
}

#view-character .characteristics .initiative .table-body {
  display: contents;
}

#view-character .characteristics .initiative .label {
  justify-self: flex-start;
}

#view-character .initiative .table-body .label:nth-child(n+2) {
  color: inherit;
}

#view-character .characteristics :is(.defenses, .armor, .conditions) {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
}

#view-character .characteristics :is(.defenses, .armor) .header {
  flex: 1 0 100%;
  justify-content: center;
}

#view-character .characteristics :is(.defenses, .armor) > div {
  flex: 1 1 auto;
}

#view-character .characteristics :is(.defenses, .armor, .conditions) .label {
  margin-right: 1rem;
}

#view-character .conditions {
  align-items: center;
  cursor: pointer;
}

#view-character .conditions .list {
  flex: 1 0 auto;
  display: flex;
  grid-gap: 0.5rem;
}


#view-character .health {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 0.1rem 0.5rem;
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
  white-space: nowrap;
}

#view-character .health .header {
  grid-column: 1 / -1;
  justify-self: center;
}

#view-character .health .heading {
  font-size: 0.7rem;
  color: var(--column-header-color);
  align-self: center;
}

#view-character .health > .value {
  justify-self: center;
}

#view-character .health .label:nth-child(2) {
  overflow: hidden;
  text-overflow: '.';
}

#view-character .health .recovery {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto max-content max-content;
  column-gap: 0.5rem;
}

#view-character .health [data-type=recoveryMax]::before {
  content: '/ ';
}

#view-character :is(.talents, .skills) .table {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 0.1rem 1rem;
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
  justify-items: center;
  align-items: center;
}

#view-character :is(.talents, .skills, .spells) .table > div {
  display: contents;
}

#view-character .table-body [data-type=name] {
  cursor: pointer;
}

#view-character .table-body .icon {
  font-size: 0.8rem;
}

#view-character .column-headers .attribute {
  justify-self: flex-end;
}

#view-character :is(.talents, .skills) .table-body [data-type=attribute] {
  color: var(--column-header-color);
  justify-self: flex-end;
  font-size: 0.8rem;
}

#view-character :is(.talents, .skills, .spells) .table-body .label {
  color: var(--emphasis-dark-color);
}

#view-character :is(.talents, .skills) .table :is(.label, .name) {
  justify-self: flex-start;
}

#view-character .table .row-separator {
  grid-column: 1 / -1;
  border-top: var(--column-header-color) solid 1px;
  width: 100%;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}

#view-character .table .row-separator:last-child {
  display: none;
}

#view-character .skills .annotation {
  font-size: 0.8rem;
  margin-left: 0.2rem;
}

#view-character .spells .table {
  display: grid;
  grid-template-columns: min-content 1fr auto auto;
  grid-template-rows: 1rem 0.8rem 0.4rem;
  column-gap: 1rem;
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
  align-items: center;
}

#view-character .spells .table :is(.circle, .range, .duration, [data-type=range], [data-type=duration]) {
  grid-column: span 2;
}

#view-character .spells .table :is(.threads, .weaving, [data-type=threads], [data-type=weaving]) {
  justify-self: center;
}

#view-character .spells .table :is(.range, [data-type=range]) {
  justify-self: flex-end;
}

#view-character .spells .table-body [data-type=circle] {
  color: var(--gray-500);
}

#view-character .spells .table-body :is([data-type=range], [data-type=duration], .casting, .effect) {
  font-size: 0.8rem;
}

#view-character .spells .table-body .heading {
  color: var(--column-header-color);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  margin-right: 0.5rem;
}

#view-character .spells .table-body :is(.casting, .effect) {
  grid-column: span 4;
}

#view-character .spells .table-body .availability {
  grid-column: 1 / -1;
  justify-self: flex-end;
  margin-top: -0.2rem;
  font-size: 0.8rem;
  color: var(--emphasis-sub-color);
}

#view-character .spells .grimoire {
  margin-right: 0.5rem;
  color: var(--danger);
}

#view-character .spells .casting-talents {
  background-color: var(--gray-800);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  position: sticky;
  top: 0;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr auto auto auto max-content;
  gap: 0.1rem 0.5rem;
  align-items: center;
}

#view-character .spells .casting-talents > div {
  display: contents;
}

#view-character .spells .casting-talents .value {
  justify-self: center;
}

#view-character .spells .casting-talents .heading {
  color: var(--emphasis-light-color);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
}


#view-character .abilities .heading {
  text-align: center;
  font-weight: 600;
}

#view-character .abilities dl {
  margin-top: 0.2rem;
}

#view-character .abilities p {
  font-size: 0.9rem;
  color: var(--gray-400);
}

#view-character .equipment :is(.armor, .melee-weapons, .throwing-weapons, .missile-weapons) {
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
}

#view-character .equipment :is(.armor, .melee-weapons, .throwing-weapons, .missile-weapons) .heading {
  text-align: center;
  margin-bottom: 0.5rem;
}

#view-character .equipment .heading .karma-use {
  margin-left: 1rem;
  margin-right: -1rem;
  color: var(--emphasis-sub-color);
}

#view-character .equipment .armor .table {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  column-gap: 1rem;
  justify-items: center;
  align-items: center;
}

#view-character .equipment .melee-weapons .table {
  display: grid;
  grid-template-columns: 1fr auto auto ;
  gap: 0.1rem 0.8rem;
  justify-items: center;
  align-items: center;
}

#view-character .equipment :is(.throwing-weapons, .missile-weapons) .table {
  display: grid;
  grid-template-columns: 1fr auto auto auto ;
  gap: 0.1rem 0.5rem;
  justify-items: center;
  align-items: center;
}

#view-character .equipment :is(.melee-weapons, .throwing-weapons, .missile-weapons) .table > div {
  display: contents;
}

#view-character .equipment :is(.throwing-weapons, .missile-weapons) .table :is(.dice, [data-type=dice]) {
  grid-column: span 2;
}

#view-character .equipment :is(.armor, .melee-weapons, .throwing-weapons, .missile-weapons) .table :is(.name, .label) {
  justify-self: flex-start;
  cursor: inherit;
}

#view-character .equipment :is(.armor, .melee-weapons, .throwing-weapons, .missile-weapons) .table .label {
  color: var(--emphasis-dark-color);
}


#view-character .equipment :is(.melee-weapons, .throwing-weapons, .missile-weapons) .table-body [data-type=entangling] {
  color: var(--column-header-color);
  font-size: 0.8rem;
  padding-left: 0.5rem;
}



.edit-current-karma .value-field {
  margin: 0.5rem auto;
}

.edit-current-karma button.done {
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
  display: block;
  margin-left: auto;
}





:is(#edit-character, #edit-discipline) .header {
  display: flex;
}

:is(#edit-character, #edit-discipline) .header button.cancel {
  border-radius: 0 0 var(--btn-border-radius) 0;
}

:is(#edit-character, #edit-discipline) .header .name {
  flex: 1 1 auto;
  text-align: center;
  align-self: center;
  font-weight: 600;
  margin: 0 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:is(#edit-character, #edit-discipline) .header .name > span:nth-child(1) {
  margin-right: 0.5rem;
}

:is(#edit-character, #edit-discipline) .header .legend-points {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #188601;
  border-radius: var(--area-border-radius);
  padding: 0.1rem 0.5rem;
  margin: 0.2rem 0.3rem 0 0;
}

:is(#edit-character, #edit-discipline) .header .legend-points .label {
  font-size: 0.7rem;
  font-weight: 600;
}

:is(#edit-character, #edit-discipline) .header .legend-points .value {
  line-height: 0.8;
  font-size: 0.8rem;
  font-weight: 600;
}

#edit-character .column-headers {
  color: var(--column-header-color);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  display: contents;
}

#edit-character .column-header-separator {
  border-top: 1px solid var(--column-header-color);
  grid-column: 1 / -1;
  width: 100%;
  padding-bottom: 0.2rem;
}

#edit-character [data-type=disciplines] .content .label {
  font-weight: 600;
}

#edit-character .basics .who {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.2rem 1rem;
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
}

#edit-character .who span:nth-child(6) {
  margin-bottom: 1rem;
}

#edit-character .who span:nth-child(7) {
  margin-top: 1.4rem;
}

#edit-character .who [data-type=disciplines] {
  display: grid;
  grid-template-columns: auto auto min-content;
  column-gap: 2rem;
  align-items: center;
  justify-self: center;
}

#edit-character .who [data-type=disciplines] > div {
  display: contents;
}

#edit-character .who [data-type=disciplines] :is(.value, .circle) {
  justify-self: center;
}

#edit-character .who [data-type=disciplines] .label {
  color: var(--emphasis-dark-color);
}

#edit-character .who [data-type=disciplines] button.edit {
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
}

#edit-character .who button.add {
  display: block;
  margin-top: 0.3rem;
}

#edit-character .basics .legend-points {
  display: grid;
  grid-template-columns: auto auto max-content 8ch;
  align-items: center;
  gap: 0.3rem 0.5rem;
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-top: 1rem;
}

#edit-character .basics .legend-points .label {
  grid-column: 1 / -1;
  justify-self: center;
  font-weight: 600;
  color: var(--emphasis-dark-color);
}

#edit-character .basics .legend-points input {
  width: 7ch;
  border: none;
  text-align: center;
}


@media only screen and (hover: hover) and (pointer: fine) {
  #edit-character .basics .legend-points input {
    width: calc(7ch + 2.1rem);
  }
}


#edit-character .basics .legend-points [data-type=total] {
  justify-self: flex-end;
}


#edit-character .attributes {
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
}


#edit-character .attributes .attribute-improvements .label {
  padding-right: 1rem;
}

#edit-character .attributes .attribute-improvements .points {
  font-weight: 600;
  color: var(--emphasis-light-color);
}

#edit-character .attributes .table {
  display: grid;
  grid-template-columns: repeat(8, auto);
  align-items: center;
  justify-items: center;
  gap: 0.3rem 0.5rem;
  white-space: nowrap;
  margin-top: 1rem;
}

#edit-character .attributes .table > div {
  display: contents;
}

#edit-character .attributes .table .label {
  justify-self: flex-start;
}

#edit-character .attributes .table .column-headers .improvements {
  grid-column: span 3;
}

#edit-character .calculated-values {
  display: grid;
  grid-template-columns: auto auto;
  align-items: flex-start;
  gap: 0.5rem 1rem;
}

#edit-character .calculated-values h4 {
  grid-column: 1 / -1;
  justify-self: center;
}

#edit-character .calculated-values .label {
  white-space: nowrap;
  color: var(--emphasis-dark-color);
}

#edit-character .calculated-values .value {
  text-align: right;
}

#edit-character .calculated-values > div {
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
}

#edit-character .calculated-values :is(.defenses, .armor, .karma) {
  display: inline-grid;
  grid-template-columns: auto auto;
  column-gap: 0.2rem;
}

#edit-character .calculated-values .encumberance {
  display: inline-grid;
  grid-template-columns: 1fr min-content 1fr min-content;
  column-gap: 0.3rem;
  grid-column: span 2;
}

#edit-character .calculated-values .encumberance :nth-child(3) {
  margin-left: auto;
}

#edit-character .calculated-values .initiative {
  display: inline-grid;
  grid-template-columns: auto min-content min-content min-content;
  column-gap: 0.4rem;
}

#edit-character .calculated-values .health {
  display: inline-grid;
  grid-template-columns: max-content min-content;
  column-gap: 0.2rem;
  grid-column: span 2;
}

#edit-character .calculated-values .health > div {
  grid-column: span 2;
}

#edit-character .calculated-values .health .recovery .label {
  margin-right: 1rem;
}


#edit-character .calculated-values .health .step {
  margin-left: 1.5rem;
}

#edit-character .calculated-values .movement {
  display: inline-grid;
  grid-template-columns: max-content minmax(max-content, min-content);
  column-gap: 1rem;
  grid-column: span 2;
}


#edit-character .table .row-separator {
  grid-column: 1 / -1;
  border-top: var(--column-header-color) solid 1px;
  width: 95%;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}

#edit-character .table .row-separator:last-child {
  display: none;
}


#edit-character .skills .edit {
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
}

#edit-character .skills .heading {
  display: flex;
  margin-bottom: 0.5rem;
}

#edit-character .skills .heading h5 {
  flex: 1 0 auto;
  text-align: center;
}

#edit-character .skills .heading button.add {
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
}

#edit-character .skills .edit .table > div {
  display: contents;
}

#edit-character .skills .edit .table {
  display: grid;
  grid-template-columns: 2fr 1fr minmax(2.7rem, 1fr) minmax(auto, 4rem) minmax(auto, 1.4rem) minmax(auto, 4rem);
  grid-template-rows: 1rem 0.4rem 1rem;
  grid-gap: 0.1rem 0.2rem;
  justify-items: center;
  align-items: center;
  padding-bottom: 1rem;
}

#edit-character .skills .table .name {
  grid-column: span 3;
  justify-self: flex-start;
}

#edit-character .skills .table-body .name {
  color: var(--emphasis-dark-color);
  cursor: pointer;
}

#edit-character .skills .table-body :is(.attribute, .step, .dice, .action, .strain, .free-ranks) {
  font-size: 0.8rem;
}

#edit-character .skills .table-body .strain ~ :is(.name, .minus, .rank, .plus) {
  margin-top: 1rem;
}

#edit-character .legend {
  font-size: 0.8rem;
  margin-top: 1.5rem;
  text-align: right;
}

#edit-character .legend span:nth-child(2n) {
  margin-right: 1rem;
}


#edit-character .spells .edit {
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
}

#edit-character .spells .heading {
  display: flex;
  margin-bottom: 1rem;
}

#edit-character .spells .heading .free-spell-points {
  flex: 1 0 auto;
}

#edit-character .spells .free-spell-points .points {
  color: var(--emphasis-light-color);
  font-weight: 600;
  margin-left: 1rem;
}

#edit-character .spells .edit .table {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  grid-template-rows: 0.5rem 0.3rem;
  grid-gap: 0.5rem 0.4rem;
  justify-items: center;
  align-items: center;
}

#edit-character .spells .table > div {
  display: contents;
}

#edit-character .spells .table .column-headers .free {
  grid-column: span 2;
  justify-self: flex-start;
}

#edit-character .spells .table .name {
  justify-self: flex-start;
}

#edit-character .spells .table-body .name {
  cursor: pointer;
  color: var(--emphasis-dark-color);
}

#edit-character .spells .table-body .circle {
  color: var(--emphasis-sub-color);
}

#edit-character .spells .table-body button {
  margin-left: 1rem;
}

#edit-character .spells .legend span:nth-child(2n) {
  margin-right: 1rem;
}


#edit-character .versatility .edit {
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
}

#edit-character .versatility .edit .heading {
  display: flex;
  margin-bottom: 0.5rem;
}

#edit-character .versatility .edit .heading h5 {
  flex: 1 1 auto;
  text-align: center;
}

#edit-character .versatility .table {
  display: grid;
  grid-template-columns: auto 2fr 1fr minmax(2.7rem, 1fr) auto minmax(auto, 4rem) minmax(auto, 1.4rem) minmax(auto, 4rem);
  grid-template-rows: 0.8rem 0.6rem 1rem;
  grid-gap: 0.1rem 0.2rem;
  justify-items: center;
  align-items: center;
}

#edit-character .versatility .table > div {
  display: contents;
}

#edit-character .versatility .table .circle {
  justify-self: flex-start;
} 

#edit-character .versatility .table .name {
  grid-column: span 5;
  justify-self: flex-start;
}

#edit-character .versatility .table-body .name {
  color: var(--emphasis-dark-color);
  cursor: pointer;
}

#edit-character .versatility .table-body .circle {
  color: var(--emphasis-sub-color);
}


#edit-character .versatility .edit button.add {
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
}

#edit-character .versatility .table-body :is(.attribute, .step, .dice, .action, .karma, .strain) {
  font-size: 0.8rem;
}

#edit-character .versatility .table-body .header-separator {
  grid-column: 1 / -1;
  color: var(--column-header-color);
  font-size: 0.7rem;
  margin: 1.5rem 0 0.5rem 0;
}



#edit-character .equipment :is(.armor, .melee-weapons, .throwing-weapons, .missile-weapons) {
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 1rem;
}

#edit-character .equipment .armor .heading {
  text-align: center;
  margin-bottom: 0.5rem;
}

#edit-character .equipment .armor .table {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto auto;
  column-gap: 1rem;
  justify-items: center;
  align-items: center;
}

#edit-character .equipment .armor .table .name {
  justify-self: flex-start;
}

#edit-character .equipment .armor button.add {
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
  display: block;
  margin-left: auto;
}

#edit-character .equipment :is(.melee-weapons, .throwing-weapons, .missile-weapons) .heading {
  display: flex;
  margin-bottom: 0.5rem;
}

#edit-character .equipment :is(.melee-weapons, .throwing-weapons, .missile-weapons) .heading h5 {
  flex: 1 0 auto;
  text-align: center;
}

#edit-character .equipment :is(.melee-weapons, .throwing-weapons, .missile-weapons) .heading button.add {
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
}

#edit-character .equipment :is(.melee-weapons, .throwing-weapons, .missile-weapons) .table {
  display: grid;
  grid-template-columns: 1fr auto auto auto 1.5rem auto auto auto;
  grid-template-rows: 0.4rem 0.4rem 0.5rem;
  grid-gap: 0.4rem 0.2rem;
  justify-items: center;
  align-items: center;
  padding-bottom: 1rem;
}

#edit-character .equipment :is(.melee-weapons, .throwing-weapons, .missile-weapons) .table > div {
  display: contents;
}

#edit-character .equipment :is(.melee-weapons, .throwing-weapons, .missile-weapons) .table :is(.name, .damage) {
  justify-self: flex-start;
}

#edit-character .equipment :is(.melee-weapons, .throwing-weapons, .missile-weapons) .table :is(.damage, .size, .penalty) {
  grid-column: span 2;
}

#edit-character .equipment :is(.melee-weapons, .throwing-weapons, .missile-weapons) .table .size-value {
  margin-left: 1rem;
}

#edit-character .equipment :is(.melee-weapons, .throwing-weapons, .missile-weapons) .table-body .negative {
  color: var(--danger);
}

#edit-character .equipment :is(.melee-weapons, .throwing-weapons, .missile-weapons) .table-body input {
  width: 2ch;
  border: none;
  text-align: center;
}

@media only screen and (hover: hover) and (pointer: fine) {
  #edit-character .equipment :is(.melee-weapons, .throwing-weapons, .missile-weapons) .table-body input {
    width: calc(2ch + 2.1rem);
  }
}

#edit-character .equipment :is(.melee-weapons, .throwing-weapons, .missile-weapons) .table-body :is(.entangling, .details) {
  grid-column: span 8;
  justify-self: flex-start;
  margin-top: -0.7rem;
  padding-left: 0.5rem;
  color: var(--column-header-color);
  font-size: 0.8rem;
}



/* Edit discipline */

#edit-discipline .column-headers {
  color: var(--column-header-color);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  display: contents;
}

#edit-discipline .column-header-separator {
  border-top: 1px solid var(--column-header-color);
  grid-column: 1 / -1;
  width: 100%;
  padding-bottom: 0.2rem;
}

#edit-discipline .circle {
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 2rem;
}

#edit-discipline .circle > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#edit-discipline .circle .label {
  font-size: 1.2rem;
}

#edit-discipline .circle button.icon {
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
}


#edit-discipline .talents .edit {
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
}

#edit-discipline .talents .edit .heading {
  text-align: center;
  font-weight: 600;
  margin-bottom: 1rem;
}

#edit-discipline .talents .table {
  display: grid;
  grid-template-columns: 2fr 1fr minmax(2.7rem, 1fr) auto minmax(auto, 4rem) minmax(auto, 1.4rem) minmax(auto, 4rem);
  grid-template-rows: 0.8rem 0.6rem 1rem;
  grid-gap: 0.1rem 0.2rem;
  justify-items: center;
  align-items: center;
}

#edit-discipline .talents .table > div {
  display: contents;
}

#edit-discipline .talents .table .name {
  grid-column: span 4;
  justify-self: flex-start;
}

#edit-discipline .talents .table-body .name {
  color: var(--emphasis-dark-color);
}

#edit-discipline .talents .table-body .name .icon {
  margin-left: 0.5rem;
}

#edit-discipline .talents .table-body .name.open {
  grid-column: span 6;
  justify-self: flex-start;
}

#edit-discipline .talents .table-body .name.closed {
  grid-column: span 5;
  justify-self: flex-start;
}

#edit-discipline .talents .table-body .discipline {
  grid-column: span 7;
  justify-self: flex-start;
  font-size: 0.7rem;
}

#edit-discipline .talents .table-body button.add {
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
}

#edit-discipline .talents .table-body :is(.attribute, .step, .dice, .action, .karma, .strain, .free-ranks) {
  font-size: 0.8rem;
}

#edit-discipline .talents .table-body .row-separator {
  grid-column: 1 / -1;
  border-top: var(--column-header-color) solid 1px;
  width: 95%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: none;
}

#edit-discipline .talents .table-body .strain + .row-separator {
  display: inline-block;
}

#edit-discipline .table-body .row-separator:last-child {
  display: none;
}

#edit-discipline .talents .table-body :is(.circle-header-template, .option-slot-separator) {
  grid-column: 1 / -1;
}

#edit-discipline .talents .table-body .circle-header-template {
  font-size: 1.2rem;
  color: var(--emphasis-light-color);
}

#edit-discipline .talents .table-body .option-slot-separator {
  color: var(--column-header-color);
  font-size: 0.7rem;
}

#edit-discipline .talents .table-body .strain ~ .circle-header-template {
  margin-top: 2rem;
}


#edit-discipline .talents .table-body .masked {
  color: inherit;
  opacity: 0.5;
}

#edit-discipline .talents .table-body .filler {
  grid-column: span 3;
}


#edit-discipline .legend {
  font-size: 0.8rem;
  margin-top: 1.5rem;
  text-align: right;
}

#edit-discipline .legend span:nth-child(2n) {
  margin-right: 1rem;
}


#edit-discipline .abilities .heading {
  text-align: center;
  font-weight: 600;
}

#edit-discipline .abilities dl {
  margin-top: 0.2rem;
}

#edit-discipline .abilities dl .sub-heading {
  text-align: center;
  color: var(--emphasis-light-color);
  margin-top: 0.3rem;
}

#edit-discipline .abilities dl .masked {
  color: var(--column-header-color);
}

#edit-discipline .abilities select {
  display: block;
  font-size: 1rem;
  margin-top: 0.5rem;
}

#edit-discipline .abilities .option {
  padding: 0.2rem 0 0 1rem;
}


/* end edit discipine */




/* Settings */

#settings .header {
  display: flex;
  align-items: center;
}

#settings .header h5 {
  margin: 0;
  flex: 1 1 100%;
  text-align: center;
}

#settings .header button.cancel {
  border-radius: 0 0 var(--btn-border-radius) 0;
}

#settings h4 {
  text-align: center;
}

#settings fieldset label {
  white-space: nowrap;
}

#settings fieldset > div {
  display: flex;
}

#settings fieldset {
  background-color: var(--area-bg);
  padding: var(--area-padding);
  border-radius: var(--area-border-radius);
  gap: 0.5rem 0.5rem;
}

#settings fieldset button.show {
  padding: 0 0.1rem;
  border-radius: var(--btn-border-radius) 0 0 var(--btn-border-radius);
}

#settings fieldset button.request {
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
  padding: 0 0.1rem;
  border-radius: 0 var(--btn-border-radius) var(--btn-border-radius) 0;
}

#settings-api-token {
  width: 100%;
  border-radius: 0;
}

#settings p {
  font-size: 0.9rem;
}

#settings .area {
  padding: var(--area-padding);
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  margin-bottom: 1rem;
}

#settings .version .info {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: 0 1rem;
  margin-bottom: 0.5rem;
}

#settings .version button.update {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#settings .rules .heading {
  text-align: center;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#settings .rules-link {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}


/* Styles re-used in different sections */

.leads-to {
  height: 1rem;
  margin: 1rem 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 56'%3e%3cpolyline fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='5' points='1 3 150 53 299 3'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}


/* .new-talents used for both talents and skill dialog. Used on #new-talents-dialog within Modal (css class is added in code) */
.new-talents .table {
  display: grid;
  grid-template-columns: auto 1fr auto min-content min-content;
  grid-template-rows: 1.5rem 0.7rem;
  grid-auto-rows: minmax(2.5rem, auto);
  grid-column-gap: 0.2rem;
  align-items: center;
}


.new-talents .column-header-separator {
  border-top: 1px solid var(--column-header-color);
  grid-column: 1 / -1;
  width: 100%;
  padding-bottom: 0.2rem;
}

.new-talents .column-headers {
  color: var(--column-header-color);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  display: contents;
}

.new-talents .column-headers > span {
  align-self: flex-end;
}

.new-talents .column-headers .details {
  grid-column: 4 / 6;
  display: flex;
  flex-direction: column;
}

.new-talents .details span {
  flex: 0 1 auto;
}

.new-talents .details .strain {
  margin-left: 1rem;
}

.new-talents .table-body {
  display: contents;
}

.new-talents .table-body .add {
  padding: 0.1rem;
  margin-right: 0.3rem;
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
}

.new-talents .table-body .name {
  margin-right: 1rem;
  cursor: pointer;
}

.new-talents .table-body :is(.attribute, .action, .strain) {
  font-size: 0.8rem;
}

.new-talents .table-body :is(.action, .strain) {
  justify-self: center;
}
/* end new-talents */


/* .new-spells used on #new-spells-dialog within Modal (css class is added in code) */
.new-spells .circle-block {
  margin-bottom: 2rem;
}

.new-spells .circle-block .heading {
  text-align: center;
  font-size: 1.3rem;
}

.new-spells .table {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 1.5rem 0.6rem 0.5rem;
  grid-gap: 0.1rem 0.3rem;
  align-items: center;
}


.new-spells .column-header-separator {
  border-top: 1px solid var(--column-header-color);
  grid-column: 1 / -1;
  width: 100%;
  padding-bottom: 0.2rem;
}

.new-spells .column-headers {
  color: var(--column-header-color);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  display: contents;
}

.new-spells .column-headers > span {
  align-self: flex-end;
}

.new-spells .column-headers .name {
  justify-self: flex-start;
}

.new-spells .column-headers .threads {
  grid-column: span 2;
  justify-self: flex-start;
}

.new-spells .column-headers :is(.casting-diff, .weaving-diff) {
  grid-column: span 2;
}

.new-spells .column-headers .casting-diff {
  justify-self: center;
}

.new-spells .table-body {
  display: contents;
}

.new-spells .table-body .add {
  grid-row: span 2;
  padding: 0.1rem;
  margin-right: 0.3rem;
  justify-self: flex-start;
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
}

.new-spells .table-body .name {
  cursor: pointer;
  grid-column: span 4;
  color: var(--emphasis-light-color);
}

.new-spells .table-body :is(.weaving-diff, .threads, .reattune-diff) {
  font-size: 0.8rem;
  justify-self: center;
}

.new-spells .table-body .casting-diff {
  font-size: 0.7rem;
  white-space: nowrap;
  justify-self: center;
}

.new-spells .table-body .weaving-diff ~ :is(.add, .name) {
  margin-top: 1rem;
}
/* end new-spells */


/* spell-details displayed in #modal-dialog with added class .spell */
#modal-dialog.spell .header .title {
  flex: 1 1 auto;
}

.spell-details .table {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0.3rem 0.5rem;
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 0.5rem;
}

.spell-details .table > span:is(:nth-child(2n+10)) {
  grid-column: span 3;
}

.spell-details .table .label {
  color: var(--emphasis-dark-color);
}

.spell-details .table .value {
  width: 2ch;
  text-align: right;
}

.spell-details .table .label.disbelief {
  grid-column: span 3;
}

.spell-details .table .value[data-type=disbelief] {
  grid-column: span 1;
}

.spell-details .description {
  padding: 0.5rem;
}

/* end spell-details */


/* talent-details/talent-option-details/skill-details displayed in #modal-dialog with added class .talent */
#modal-dialog:is(.talent, .talent-data, .skill) .header .title {
  flex: 1 1 auto;
}

:is(.talent-details, .skill-details) .table {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0.3rem 0.5rem;
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin-bottom: 0.5rem;
}

:is(.talent-details, .skill-details) .table .label {
  color: var(--emphasis-dark-color);
}

.talent-data .talent-details .table .label {
  color: var(--emphasis-sub-color);
}

:is(.talent-details, .skill-details) .table .value {
  width: 2ch;
  text-align: right;
}

:is(.talent-details, .skill-details) .description {
  padding: 0.5rem;
}

/* end talent-details */


/* add armor dialog */
.new-armor .table {
  display: grid;
  grid-template-columns: min-content 1fr auto auto auto auto;
  grid-template-rows: 1.5rem 0.3rem;
  grid-auto-rows: minmax(2.5rem, auto);
  column-gap: 0.2rem;
  align-items: center;
  justify-items: center;
}

.new-armor .column-header-separator {
  border-top: 1px solid var(--column-header-color);
  grid-column: 1 / -1;
  width: 100%;
  padding-bottom: 0.2rem;
}

.new-armor .column-headers {
  color: var(--column-header-color);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  display: contents;
}

.new-armor .table .name {
  justify-self: flex-start;
}

.new-armor .table-body {
  display: contents;
}

.new-armor .table-body .add {
  padding: 0.1rem;
  margin-right: 0.3rem;
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
}


/* end armor dialog */


/* add melee weapon dialog */
.new-melee-weapon .table {
  display: grid;
  grid-template-columns: min-content 1fr auto auto auto auto auto;
  grid-template-rows: 0.3rem 1.5rem 0.3rem;
  grid-auto-rows: minmax(2.5rem, auto);
  column-gap: 0.2rem;
  align-items: center;
  justify-items: center;
}

.new-melee-weapon .column-header-separator {
  border-top: 1px solid var(--column-header-color);
  grid-column: 1 / -1;
  width: 100%;
  padding-bottom: 0.2rem;
}

.new-melee-weapon .column-headers {
  color: var(--column-header-color);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  display: contents;
}

.new-melee-weapon .table-body {
  display: contents;
}

.new-melee-weapon .table-body .add {
  padding: 0.1rem;
  margin-right: 0.3rem;
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
}

.new-melee-weapon .table .name {
  justify-self: flex-start;
}

.new-melee-weapon .table :is(.size, .penalty) {
  grid-column: span 2;
}

.new-melee-weapon .table .size-value {
  grid-column: span 4;
  justify-self: flex-end;
}

.new-melee-weapon .table-body .negative {
  color: var(--danger);
}

/* end melee weapon dialog */


/* add ranged weapon dialog */
.new-ranged-weapon .table {
  display: grid;
  grid-template-columns: min-content 1fr auto auto auto auto auto auto;
  grid-template-rows: 0.3rem 1.5rem 0.3rem;
  grid-auto-rows: minmax(2.5rem, auto);
  gap: 0.2rem 0.3rem;
  align-items: center;
  justify-items: center;
}

.new-ranged-weapon .column-header-separator {
  border-top: 1px solid var(--column-header-color);
  grid-column: 1 / -1;
  width: 100%;
  padding-bottom: 0.2rem;
}

.new-ranged-weapon .column-headers {
  color: var(--column-header-color);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  display: contents;
}

.new-ranged-weapon .table-body {
  display: contents;
}

.new-ranged-weapon .table-body .add {
  padding: 0.1rem;
  margin-right: 0.3rem;
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
}

.new-ranged-weapon .table .name {
  justify-self: flex-start;
}

.new-ranged-weapon .table :is(.size, .penalty) {
  grid-column: span 2;
}

.new-ranged-weapon .table .size-value {
  grid-column: span 4;
  justify-self: flex-end;
}

.new-ranged-weapon .table-body .negative {
  color: var(--danger);
}

/* end ranged weapon dialog */


/* conditions modal */

.conditions-modal .buttons {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}

.conditions-modal dt .icon {
  margin: 0 1rem;
}

.conditions-modal dd {
  padding-left: 3.3rem;
  font-size: 0.7rem;
}

/* end conditions modal */


/* edit current damage modal-dialog in view-character */
#modal-dialog.edit-current-damage {
  min-width: 22rem;
}

#modal-dialog.edit-current-damage .content {
  padding: 0;
}

.edit-current-damage .tab-switch {
  border-bottom-left-radius: 0.5rem;
  background-color: var(--area-bg);
  color: var(--gray-500);
  padding: 0.2rem 0.5rem;
  margin-left: 33%;
  cursor: pointer;
}

.edit-current-damage .tab {
  padding: 1rem;
}

.edit-current-damage .tab .input {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 1rem;
  padding-bottom: 0.3rem;
  margin-left: 0.5rem;
}

.edit-current-damage .tab.healing .input {
  margin-top: 0.8rem;
}

.edit-current-damage :is(.result) .label {
  color: var(--emphasis-dark-color);
}

.edit-current-damage label {
  display: block;
}

.edit-current-damage .tab .result {
  display: grid;
  margin-bottom: 1rem;
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
}

.edit-current-damage .tab.damage .result {
  grid-template-columns: auto auto;
}

.edit-current-damage .tab .result .value {
  justify-self: center;
}

.edit-current-damage .tab.healing .result {
  grid-template-columns: repeat(5, auto);
  gap: 0.1rem 0.5rem;
  white-space: nowrap;
}

.edit-current-damage .tab.healing .result .heading {
  font-size: 0.7rem;
  color: var(--column-header-color);
  align-self: center;
}

.edit-current-damage .tab.healing .result .label {
  color: var(--emphasis-light-color);
}

.edit-current-damage button.apply {
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
  display: block;
  margin: 0 0.5rem 1rem auto;
}

/* end edit current damage */


/* edit current recovery dialog */

#modal-dialog.edit-current-recovery {
  width: 18rem;
}

:is(.edit-current-recovery, .edit-current-wounds) div.area {
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
  margin: 0.5rem 0;
}

:is(.edit-current-recovery, .edit-current-wounds) .value-field {
  margin: 0 auto;
}

:is(.edit-current-recovery, .edit-current-wounds) button {
  margin-left: auto;
  display: block;
}

.edit-current-recovery button.rest {
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
}

/* end edit current recovery */


/* edit current wounds dialog */

#modal-dialog.edit-current-wounds {
  width: 18rem;
}

.edit-current-wounds button.recover {
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
}

/* end edit current wounds */


/* modal dialog step-modding */

.step-modding {
  min-width: 21rem;
}

.step-modding .label {
  color: var(--emphasis-dark-color);
}

.step-modding .heading {
  color: var(--column-header-color);
  font-size: 0.7rem;
}

.step-modding :is(.base, .calculated, .result) {
  margin-bottom: 1rem;
  background-color: var(--area-bg);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
}

.step-modding :is(.base, .result) {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 0 0.3rem;
  align-items: center;
}

.step-modding .input {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: 0.1rem 1rem;
  margin: 0.5rem 0 0 0.5rem;
}

.step-modding .input .label {
  color: inherit;
}

.step-modding .calculated {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0 0.5rem;
  align-items: center;
}

.step-modding .conditions {
  display: grid;
  grid-template-columns: auto min-content;
  grid-gap: 0.1rem 0.5rem;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  background-color: var(--gray-700);
  border-radius: var(--area-border-radius);
  padding: var(--area-padding);
}

.step-modding .conditions button {
  padding: 0.1rem;
  font-size: 0.8rem;
}

.step-modding .conditions button > span {
  width: 1.2rem;
}

.step-modding .conditions .label {
  grid-column: span 2;
  justify-self: center;
}

.step-modding :is(.base, .calculated) {
  font-size: 0.8rem;
}

.step-modding label {
  display: block;
}

.step-modding .value {
  justify-self: center;
}

.step-modding .result .label {
  color: var(--emphasis-light-color);
}

.step-modding .clear-round {
  margin-bottom: 1rem;
}

.step-modding button.apply {
  --btn-bg: var(--primary);
  --btn-border-color: var(--primary);
  display: block;
  margin-left: auto;
}

/* end step-modding */



#install {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  width: 100%;
  height: 3rem;
  background-color: var(--emphasis-light-color);
  color: #000;
  font-size: 1.2rem;
  padding: 0 1rem;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

#install img {
  max-height: 100%;
}



.no-scrollbars::-webkit-scrollbar {
  display: none;  /* Safari/Chrome/Webkit */
}

.no-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}


@media only screen and (hover: none) and (pointer: coarse) {

  /* Rules here apply only to mobile touch devices */
  
}

@media only screen and (display-mode: standalone), only screen and (hover: none), only screen and (pointer: coarse) {

  /* Rules here apply only to mobile touch devices that run the application as a Progressive Web App (without Browser UI) */
  #overview .header .cancel {
    visibility: hidden;
  }
  
  .page-container, .page {
    scrollbar-width: none;
  }

  /*
  This breaks the sliding navbar in Chrome
  .page-container, .page ::-webkit-scrollbar {
    display: none;  
  }
*/
}

[hidden] {
  display: none !important;
}